.DefeatModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.DefeatModalContent {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: linear-gradient(to bottom right, #dbf5ff, #f0e2f3, #ffeecc);
    border-radius: 16px;
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.DefeatModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalButton {
    background: linear-gradient(to bottom right, #dbf5ff, #f0e2f3, #ffeecc);
    border: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.modalButton:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

